<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Chat Room</title>
</head>
<body>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url 'signout' %}" target="blank">
                <button class="ml-10">SignOut</button>
            </a>
            
            <button id="view-members-button" class="btn btn-primary float-right mr-2">View Members</button>
            <div id="members-dialog" title="Group Members" style="display: none;">
                <ul id="members-list">
            
                </ul>
            </div>
        </div>
      </nav>
    <div class="container mt-4">
        <strong id="group-name">{{group.name}}</strong>
        <div id="chat" class="m-5">
            <div id="chat-messages">
                {% for m in messages %}
                <div class="card m-2">
                    <div class="card-header">
                        <strong>{{ m.user.username }}</strong>
                    </div>
                    <div class="card-body">
                        {{ m.content }}
                        <button class="like-button btn btn-link" data-message-id="{{ m.id }}">
                            
                             <i class="fas fa-thumbs-up"></i>
                        </button>
                        <span id="like-count-{{ m.id }}" class="like-count">{{ m.likes }}</span>

                        <div class="liked-y" >
                                Liked by:
                                {% for liked_user in m.like_set.all %}
                                    <span class="liked-user"  id="liked-by-{{ m.id }}">{{ liked_user.user.username }}</span>
                                {% endfor %}
                        </div>
                    </div>
                  
                </div>
                {% endfor %}
            </div>
            
            <br>
            <input id="chat-message-input" type="text" class="form-control" placeholder="Type your message..." size="40">
            <button id="chat-message-submit" class="btn btn-primary m-2">Send</button>
        </div>
    </div>


    <script>

      
      const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/group/{{group.id}}/'
);


chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log(data);
         if(data.type === 'like_message'){
        const messageId = data['messageid'];
        const likeCountElement = document.querySelector(`#like-count-${messageId}`);
        console.log(`#like-count-${messageId}`)
        const likedByElement = document.querySelector(`#liked-by-${messageId}`);
        console.log( typeof `#liked-by-${messageId}`)

        if (likeCountElement) {
            likeCountElement.textContent = data['count'];

        }         if (likedByElement) {
            likedByElement.textContent='';
            likedByElement.textContent = data['liked_users'].join(', ');
        }
        
    }
         else{
            const messageId = data['messageid'];
        const messageContent = data['message'];
        const likeCount = data['count'];
        console.log("in the chat" +typeof(messageId))
    const username=data['username']

        const messageElement = document.createElement('div');
        messageElement.classList.add('message');
        messageElement.innerHTML = `
        <div class="card m-2">
                    <div class="card-header">
                        <strong>${username}</strong>
                    </div>
                    <div class="card-body">
                        ${messageContent}
                        <button class="like-button btn btn-link" data-message-id="${messageId}">
                            <i class="fas fa-thumbs-up" ></i>
                            </button>
                        <span id="like-count-${messageId}" class="like-count">${likeCount}</span>
                    <div class="liked-y">
                                Liked by:
                                {% for liked_user in m.like_set.all %}
                                <span class="liked-user"  id="liked-by-${messageId}">{{ liked_user.user.username }}</span>
                                {% endfor %}
                        </div>
                </div>
                </div>
                
        `;

        const chatMessagesElement = document.querySelector('#chat-messages');
        chatMessagesElement.appendChild(messageElement);
         }
    };

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').addEventListener('keyup', function (e) {
    if (e.keyCode === 13) {
        document.querySelector('#chat-message-submit').click();
    }
});

document.querySelector('#chat-message-submit').addEventListener('click', function () {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
        'type':'chat',
        'message': message
    }));
    messageInputDom.value = '';
});

document.querySelector('#chat-messages').addEventListener('click', function (e) {
    if (e.target && e.target.classList.contains('like-button')) {
        const messageId = e.target.getAttribute('data-message-id');
        chatSocket.send(JSON.stringify({
            'type': 'like_message',
            'message_id': messageId,
        }));
    }
});


$(document).on("click", "#view-members-button", function() {
            $.ajax({
        url: "{% url 'group:viewmembers'  %}",  
        type: "GET",
        data: {
            group_id: '{{group.id}}' 
        },
        success: function(data) {
            var membersList = data.members;
            var memberTableHTML =
                '<table>' +
                '<thead>' +
                    '{% if group.owner == request.user %}' +
                '<tr><th>Delete</th><th>User</th></tr>' +
                '{% endif %}' +
                '</thead>' +
                '<tbody>';

            for (var i = 0; i < membersList.length; i++) {
                memberTableHTML +=
                '<tr>' +
                    '<td>' +
                
                    '{% if group.owner == request.user %}' +
                    '<input type="checkbox" class="delete-member-checkbox" data-member="' + membersList[i] + '">' +
                    '{% endif %}' +
                    '</td>' +
                    '<td>' + membersList[i] + '</td>' +
                    '</tr>';
            }

            memberTableHTML += '</tbody></table>';

            '{% if group.owner == request.user %}' 
            memberTableHTML += '<button id="delete-selected-members">Delete Selected</button>'; 
            '{% endif %}' 

            $("#members-dialog").html(memberTableHTML);
  
            $("#members-dialog").html(memberListHTML);
    
        }
    });
        $("#members-dialog").dialog("open");
    });

    $(document).ready(function() {
        $("#members-dialog").dialog({
            autoOpen: false,
            width: 400,
            modal: true,
            buttons: {
                "Close": function() {
                    $(this).dialog("close");
                }
            }
        });
    });
    var selectedMembers = [];  

$(document).on("click", ".delete-member-checkbox", function() {
    var isChecked = $(this).prop("checked");
    var member = $(this).data("member");
    
    if (isChecked) {
        selectedMembers.push(member);
    } else {
        var index = selectedMembers.indexOf(member);
        if (index !== -1) {
            selectedMembers.splice(index, 1);
        }
    }
});

$(document).on("click", "#delete-selected-members", function() {
    console.log("i am in html")

    $.ajax({
        headers:{
            "X-CSRFToken": "{{ csrf_token }}",
        },
        url: "{% url 'group:delete_selected_members' %}",  
        type: "POST",
        data: {
            selected_members: selectedMembers,
            group_id: '{{group.id}}'  
        },
        success: function(data) {
            if (data.redirect === "userhome") {
            window.location.href = "{% url 'userhome' %}";
        }
            fetchAndUpdateMembersList();
         },
        error: function(error) {
           
        }
    });
});

function fetchAndUpdateMembersList() {
    $.ajax({
        url: "{% url 'group:viewmembers' %}", 
        type: "GET",
        data: {
            group_id: '{{group.id}}' 
        },
        success: function(data) {
            var membersList = data.members;
            var memberTableHTML =
                '<table>' +
                '<thead>' +
                '<tr><th>Delete</th><th>User</th></tr>' +
                '</thead>' +
                '<tbody>';

            for (var i = 0; i < membersList.length; i++) {
                memberTableHTML +=
                '<tr>' +
                    '<td>' +
                    '{% if group.owner == request.user %}' +
                    '<input type="checkbox" class="delete-member-checkbox" data-member="' + membersList[i] + '">' +
                    '{% endif %}' +
                    '</td>' +
                    '<td>' + membersList[i] + '</td>' +
                    '</tr>';
            }
          
            memberTableHTML += '</tbody></table>';
            '{% if group.owner == request.user %}' 
            memberTableHTML += '<button id="delete-selected-members">Delete Selected</button>'; 
            '{% endif %}' 
            $("#members-dialog").html(memberTableHTML);
        }
    });
}



    </script>

    
<footer class="bg-light text-center p-3 mt-5 fixed-bottom">
    <p>&copy; 2023 ChatApplication. All Rights Reserved.</p>
</footer>



</body>
</html>


